# MQL5 folders to ignore
Experts/*
!Experts/FlagPro_Trader.mq5
!Experts/FlagPro_VisualTester.mq5
Files/
Images/
Include/*
!Include/FlagPro/
Libraries/
Logs/
Profiles/
Scripts/
Services/
Shared Projects/

# Indicators subfolders to ignore
Indicators/AlgoTrade/
Indicators/Examples/
Indicators/Free Indicators/
Indicators/Market/

# Compiled files
*.ex5

# Logs and temp files
*.log
Indicators/comp_log.txt
.continue/
update_models_script.py
__pycache__/
*.pyc
